<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="generator" content="Pelican" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
    <link rel="shortcut icon" href="/theme/img/logo.png">
    <link rel="stylesheet" href="/theme/css/website.css">
  </head>
  <body>
    <header class="w3-top">
      <div class="w3-hide-small">
        <nav class="w3-bar w3-card w3-top w3-left-align w3-large w3-red">
          {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
          <a href="{{ SITEURL }}/{{ p.url }}" class="w3-bar-item w3-button {%if p==page%}active{%endif%}">{%if p.icon%}<i class="fa fa-{{p.icon}}"></i> {%endif%}{{ p.title }}</a>
          {% endfor %}
          {% endif %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
          <a href="{{ SITEURL }}/{{ cat.url }}" class="w3-bar-item w3-button {%if cat==category%}active{%endif%}">{{ cat }}</a>
          {% endfor %}
          {% endif %}
        </nav>
      </div>
      <div class="w3-hide-large">
        <nav class="w3-bar w3-theme w3-top w3-left-align w3-large w3-red">
          bars
        </nav>
      </div>
    </header>
<div class="w3-content w3-padding" style="margin-top:40px; max-width:1120px">
    {% block content %}{% endblock %}
</div>
    <footer class="w3-red w3-center w3-padding">
      <span>Content is released under <a href="https://creativecommons.org/licenses/by-sa/4.0">CC-BY-SA 4.0</a> license</span>
      -
      <span><a href="https://framagit.org/librecaptcha/website">Source code</a></span>
    </footer>
  </body>
</html>