{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Catégories{% endblock %}

{% block content %}
    <h1>Catégories de {{ SITENAME }}</h1>
    <ul>
    {% for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}
