</div>
<header class="w3-container w3-red w3-center" style="margin-top:-16px;padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">{{page.start_word}}</h1>
  <p class="w3-xlarge">{{page.start_sub}}</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>{{page.p1_title}}</h1>
      <h5 class="w3-padding-32">{{page.p1_text}}</h5>

      <p class="w3-text-grey">{{page.p1_sub}}</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-{{page.p1_icon}} w3-padding-64 w3-text-red" style="font-size:120px"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-{{page.p2_icon}} w3-padding-64 w3-text-red w3-margin-right" style="font-size:120px"></i>
    </div>

    <div class="w3-twothird">
      <h1>{{page.p2_title}}</h1>
      <h5 class="w3-padding-32">{{page.p2_text}}</h5>

      <p class="w3-text-grey">{{page.p2_sub}}</p>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>{{page.p3_title}}</h1>
      <h5 class="w3-padding-32">{{page.p3_text}}</h5>

      <p class="w3-text-grey">{{page.p3_sub}}</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-{{page.p3_icon}} w3-padding-64 w3-text-red" style="font-size:120px"></i>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>
<div>