{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h2>All articles</h2>
{% endblock %}

<ul id="post-list" class="w3-ul">
{% for article in articles_page.object_list %}
  <li><article class="hentry">
    <header><h2 class="entry-title">{{ article.title }}</h2></header>
    <div class="w3-right">
      <p><a  href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}" class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></a></p>
    </div>
    <footer class="post-info">
      <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
    </footer>
    <div class="entry-content">{{ article.summary }}</div>
  </article></li>
{% endfor %}
</ul>
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section>
{% endblock content %}
